h1,
h2,
h3 {
  font-family: Garamond, "EB Garamond", Georgia, Times New Roman, serif;
}

.item-grow {
  flex-grow: 1;
}

.bg-regal {
  background-color: #7c2ca5;
}
.hover-bg-darkregal:focus,
.hover-bg-darkregal:hover {
  background-color: #5e217d;
}

.bg-cloud {
  background: url("/img/cloud1.png") no-repeat center 50px;
  background-size: 600px;
}

.bg-photo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-congregation {
  background-image: url("/img/congregation3.jpg");
}

.filter {
  position: relative;
}
.filter::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.filter-regal::before {
  background-image: -webkit-linear-gradient(top, transparent, #7c2ca5);
  background-image: linear-gradient(to bottom, transparent, #7c2ca5);
}

.bg-building {
  background: url("/img/building1.jpg") no-repeat center center;
  background-size: cover;
}

/* -ns Not Small (That's medium and large) */
@media screen and (min-width: 30em) {
  .center-ns {
    margin-right: auto;
    margin-left: auto;
  }

  main img {
    width: 16rem; /* .w5 */
    float: right; /* .fr */
    margin: 1rem; /* .m1 */
    padding: 0.25rem; /* .p1 */
  }
}

/* -l Large */
@media screen and (min-width: 60em) {
  .bg-nav-l {
    border-color: #fff;
    border-width: 23px 44px;
    border-image: url("/img/nav-rail.png") 23 44 23 44 fill repeat;
    /*border-image-outset: 10px 44px;*/
  }
}
