.sans {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.item-grow {
  flex-grow: 1;
}

.bg-regal {
  background-color: #7c2ca5;
}

.hover-bg-darkregal:focus,
.hover-bg-darkregal:hover {
  background-color: #5e217d;
}

.bg-cloud {
  background: url("/img/cloud1.png") no-repeat center 50px;
  background-size: 600px;
}

.bg-photo {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-congregation {
  background-image: url("/img/congregation3.jpg");
}

.filter {
  position: relative;
}

.filter::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.1;
}

.filter-regal::before {
  background-image: -webkit-linear-gradient(top, transparent, #7c2ca5);
  background-image: linear-gradient(to bottom, transparent, #7c2ca5);
}

.bg-building {
  background: url("/img/building1.jpg") no-repeat center center;
  background-size: cover;
}

/* -ns Not Small (That's medium and large) */
@media screen and (min-width: 30em) {
  .center-ns {
    margin-right: auto;
    margin-left: auto;
  }

  main img {
    /* w5 fr m1 p1 */
    width: 16rem;
    float: right;
    margin: 1rem;
    padding: 0.25rem;
  }
}