# This file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

title: "Canning Road"
encoding: UTF-8

# site.baseurl is the subdirectory which the website will always be served from (local and live)
# Please terminate me in a slash '/', or use just '/' for root
baseurl: /

# Simple permalinks with no dates
permalink: /post/:title/

crisis: true

# Define our collections (output means they get their own pages too)
collections:
 services:
  output : true
 activities:
  output : true

# Set default.html as default layout, and set has_pager on all bloggy posts
defaults:
  -
    scope:
      path: "" # All files in the project
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "posts"
    values:
      has_pager: true
  -
    scope:
      path: "activities"
    values:
      live: true

# Includes
plugins:
  - jekyll-optional-front-matter
  - jekyll-default-layout
  - jekyll-feed
  - jekyll-target-blank
exclude:
  - Gemfile
  - Gemfile.lock
