<div class="pa0 pl3
	mv2 cf 
  overflow-hidden
	ba bw1 br4 b--light-gray">
	<div class="w-100 fl-ns w-60-ns pa0 pr4">
		<a class="no-underline near-black" href="{{ include.post.url }}">
			<h3>
				{{ include.post.title }}
			</h3>
			<p>{{ include.post.content | strip_html | truncatewords: 50 }}</p>
			<p class="tr w-100"><a href="{{ include.post.url }}">Read more...</a></p>
		</a>
	</div>
	{% if include.post.photo %}
		<div class="dn db-ns fr-ns w-40-ns h5 bg-center cover"
			style="background-image:url({{ include.post.photo }})">
		</div>
	{% endif %}
</div>