backend:
  # name: git-gateway
  # branch: master # Branch to update (optional; defaults to master)
  name: github
  repo: canningroad/canningroad.github.io # Path to your GitHub repository
media_folder: 'photo'
collections:
  - name: 'services'
    label: 'Services'
    folder: '_services/'
    slug: '{{slug}}'
    create: true
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Audience', name: 'about', widget: 'string', hint: 'Short description for the blue box on the front page' }
      - { label: 'When', name: 'when', widget: 'string', hint: 'Short day/time clue for the blue box on the front page' }
      - { label: 'Next Event', name: 'nextevent', widget: 'string', required:false, hint: 'Optional. For complex scheduling like Messy Church, enter the date of the next one' }
      - { label: 'Live', name: 'live', widget: 'boolean', default: true, hint: 'Show the tile for this service?' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'activities'
    label: 'Activities'
    folder: '_activities/'
    slug: '{{slug}}'
    create: true
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'About', name: 'about', widget: 'string', hint: 'Short description for the purple box on the front page' }
      - { label: 'When', name: 'when', widget: 'string', hint: 'Short day/time clue for the purple box on the front page' }
      - { label: 'Live', name: 'live', widget: 'boolean', default: true, hint: 'Show the tile for this activity?' }
      - { label: 'Permalink', name: 'permalink', widget: 'string', required:false, hint: 'Optional short link to give a post a nicer url. Example /alpha/' }
      - { label: 'Cover', name: 'cover', widget: 'image', allow_multiple: false, hint: 'Cover photo to go at the top of the activity page' }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'pages'
    label: 'Pages'
    editor:
      preview: false
    files:
      - label: 'About Page'
        name: 'about'
        file: 'about.md'
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Long Name', name: 'longname', widget: 'string', required: false }
          - { label: 'Body', name: 'body', widget: 'markdown' }
      - label: 'Links'
        name: 'links'
        file: 'links.md'
        fields:
          - { label: 'Title', name: 'title', widget: 'string' }
          - { label: 'Long Name', name: 'longname', widget: 'string', required: false }
          - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'blog'
    label: 'Blog'
    folder: '_posts/'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime' }
      - { label: 'Photo', name: 'photo', widget: 'image', allow_multiple: false, hint: 'Thumbnail image to go next to post in list view', required:false }
      - { label: 'Cover', name: 'cover', widget: 'image', allow_multiple: false, hint: 'Cover photo to go at the top of the post', required:false }
      - { label: 'Body', name: 'body', widget: 'markdown' }