<!DOCTYPE HTML>
<html>
<head>
{% if page.name %}
	<title>{{page.name}} - {{site.title}}</title>
{% else %}
	<title>{{site.title}}</title>
{% endif %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet"> 
<link rel="stylesheet" href="{{site.url}}/css/tachyons.css">
<link rel="stylesheet" href="{{site.url}}/css/custom.css">
<style>

</style>
</head>
<body class="bg-moon-gray near-black">

	<div class="w-80-l center bg-white">

	<header class="bg-cloud">
		<div class="w5 center pt4">
			<a href="{{site.url}}/">
				<img class="" src="{{site.url}}/img/logo-filled-512.png" alt="A sketch of the church" />
			</a>
		</div>
		<a class="no-underline near-black outline-transparent" href="{{site.url}}/">
			<h1 class="w-100-l tc">Canning Road Evangelical Church</h1>
		</a>

		<div class="content-box
		bg-nav-l
		bw1 bb bl-l br-l">
			<nav class="
			mt3
			nb3-l
			f3 garamond b no-underline">
				<ul class="list
				pl0 mv0-ns
				flex-l">
					{% for navitem in site.data.navitems %}
						<li class="tc item-grow">
							<a class="black no-underline" href="{{navitem.link}}">
								{{navitem.title}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
		
	</header>

	<main>
		<div class="pa3
			w-100
			bg-congregation">
			
			{% if page.intro %}
				<p class="f3 measure-wide center">{{ page.intro }}</p>
			{% elsif page.longname %}
				<h2 class="f2 tc">{{ page.longname }}</h2>
			{% else %}
				<h2 class="f2 tc">{{ page.name }}</h2>
			{% endif %}
		</div>
		
		<div class="pa3 ph5-ns mw8-ns cf">
			{{content}}
		</div>
	</main>
	
	<footer class="h2 w-100 bg-near-white tc pv1 mv1">
		<small>Canning Road Evangelical Church, Canning Road, Southport, PR9 7SS &ndash; 01704 227755 </small>
	</footer>
	
	</div>
	
</body>
</html>