<!DOCTYPE HTML>
<html>
<head>
{% if page.title %}
	<title>{{page.title}} - {{site.title}}</title>
{% else %}
	<title>{{site.title}}</title>
{% endif %}
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/tachyons.css">
<link rel="stylesheet" href="/css/custom.css">
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body class="bg-moon-gray near-black">

	<div class="w-80-l center bg-white
	shadow-1">

	<header class="bg-cloud">
		<div class="w5 center pt4">
			<a href="/">
				<img class="" src="/img/logo-filled-512.png" alt="A sketch of the church" />
			</a>
		</div>
		<a class="no-underline near-black outline-transparent" href="/">
			<h1 class="w-100-l tc">Canning Road Evangelical Church</h1>
		</a>

		<div class="
		ma3-l
		bg-nav-l
		bw1 bb bl-l br-l">
			<nav class="
			mt3
			f3 garamond b no-underline">
				<ul class="list
				pl0 mv0-ns
				flex-l">
					{% for navitem in site.data.navitems %}
						<li class="tc item-grow">
							<a class="black no-underline" href="/{{navitem.link}}">
								{{navitem.title}}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
		
	</header>

	<main>
		{% if site.crisis %}
		<div class="bg-blue white pa3 tc">
			<p><strong>COVID-19</strong> &ndash; Please see our
			<a class="gold" href="/coronavirus/">Coronavirus page</a>
			to see how our gatherings and activities are currently affected.</p>
		</div>
		{% endif %}
	
		<div
			class="bg-photo bg-congregation"
			{% if page.cover %}
			style="background-image: linear-gradient(to bottom, rgba(255,255,255, 0.4), rgba(255,255,255, 0.5)), url({{page.cover}});"
			{% endif %}
			>
			<div class="pa3 filter filter-regal">
			{% if page.intro %}
				<p class="f3 measure-wide center">{{ page.intro }}</p>
			{% elsif page.longname %}
				<h2 class="f2 tc">{{ page.longname }}</h2>
			{% else %}
				<h2 class="f2 tc">{{ page.title }}</h2>
			{% endif %}
			
			{% if page.has_pager %}
				<p class="f4 tc">Written {{page.date | date_to_string}}</p>
			{% endif %}
			</div>
		</div>
		
		{% if page.has_pager %}
			<div class="bg-near-white cf">
				{% if page.previous %}
					<a href="{{page.previous.url}}">
						<p class="
						w-100 h2 tc ph4 pv2
						w-50-l fl-l tl-l
						near-black underline">
							&larr; Older: {{page.previous.title}}
						</p>
					</a>
				{% endif %}
				
				{% if page.next %}
					<a href="{{page.next.url}}">
						<p class="
						w-100 h2 tc ph4 pv2
						w-50-l fr-l tr-l
						near-black underline">
							Newer: {{page.next.title}} &rarr;
						</p>
					</a>
				{% endif %}
			</div>
		{% endif %}
		
		<div class="pa3 ph5-ns mw8-ns cf lh-copy">
			{{content}}
		</div>
	</main>
	
	<footer class="h2 w-100 bg-near-white tc pv1 mt1">
		<small>Canning Road Evangelical Church, Canning Road, Southport, PR9 7SS &ndash; 01704 227755 </small>
	</footer>
	
	</div>
	<script>
	if (window.netlifyIdentity) { window.netlifyIdentity.on("init", user => { if (!user) { window.netlifyIdentity.on("login", () => { document.location.href = "/admin/"; }); } }); }
	</script>
</body>
</html>